# Highest and lowest price

Using `sort_values` and the data from the _product_prices_renamed.csv_ the file answer the questions below — use data aggregated for entire Poland (`province=='POLAND'`):

1. What product had the highest 'PLN' price in history? (remember to remove the value = 3000)?
1. What product achieved the lowest 'PLN' price in history? (remember to filter out values = 0),

Sort the data according to the following key:

1. by **product_types** column – descending
1. by **value** column – ascending

In [4]:
import pandas as pd
df = pd.read_csv('../../01_Data/product_prices_renamed.csv', sep=';', decimal=',')

df['value'] = pd.to_numeric(df['value'], errors='coerce')

df.head()

,province,product_types,currency,product_group_id,product_line,value,date
0,SUBCARPATHIA,NaN,PLN,2,pork ham cooked - per 1kg,21.37,2013-3
1,ŁÓDŹ,NaN,PLN,4,bread - per 1kg,NaN,2018-2
2,KUYAVIA-POMERANIA,NaN,PLN,2,barley groats sausage - per 1kg,3.55,2019-12
3,LOWER SILESIA,NaN,PLN,2,dressed chickens - per 1kg,6.14,2019-2
4,WARMIA-MASURIA,NaN,PLN,2,Italian head cheese - per 1kg,5.63,2002-3

In [14]:
# Filter data for entire Poland + 3000 & 0 value excluded

df_poland = df.loc[(df['province'] == 'POLAND') & 
                   (df['value'] != 3000) & (df['value'] != 0)]


df_poland

,province,product_types,currency,product_group_id,product_line,value,date
7,POLAND,NaN,PLN,2,pork belly cooked - per 1kg,19.620000,2017-3
13,POLAND,fresh chichen egges - per 666pcs.,PLN,3,NaN,0.270000,2009-8
15,POLAND,whole pickled cucumbers 0.9l - per 1pc.,PLN,1,NaN,2.360000,2004-12
16,POLAND,NaN,PLN,4,bread - per 1kg,NaN,2017-9
52,POLAND,NaN,PLN,4,Masurian barley groats - per 1kg,2.080000,2017-1
...,...,...,...,...,...,...,...
149837,POLAND,frozen carrot and pea mix - per 1kg,EUR,1,NaN,0.843373,2017-4
149890,POLAND,NaN,PLN,2,"salted herring, non-dressed - per 1kg",5.400000,2006-3
149897,POLAND,NaN,PLN,4,Masurian barley groats - per 1kg,1.790000,2018-3
149899,POLAND,NaN,PLN,4,bread - per 1kg,NaN,2016-10
149926,POLAND,NaN,PLN,4,buckwheat groats roasted whole - per 1kg,5.100000,2016-5

In [12]:
df_poland.sort_values(
    by=['product_line', 'value'],
    ascending=[False, True],  # we can define the sorting behavior of each column
    na_position='last'
)

,province,product_types,currency,product_group_id,product_line,value,date
128717,POLAND,NaN,PLN,2,smoked bacon with ribs - per 1kg,8.28,1999-1
139006,POLAND,NaN,PLN,2,smoked bacon with ribs - per 1kg,8.29,1999-3
141521,POLAND,NaN,PLN,2,smoked bacon with ribs - per 1kg,8.42,1999-6
4671,POLAND,NaN,PLN,2,smoked bacon with ribs - per 1kg,8.43,1999-12
8366,POLAND,NaN,PLN,2,smoked bacon with ribs - per 1kg,8.43,1999-8
...,...,...,...,...,...,...,...
113581,POLAND,natural chocolate plain - per 1kg,PLN,3,NaN,21.89,2009-8
129605,POLAND,natural chocolate plain - per 1kg,PLN,3,NaN,21.94,2009-5
139663,POLAND,natural chocolate plain - per 1kg,PLN,3,NaN,21.94,2009-4
46160,POLAND,natural chocolate plain - per 1kg,PLN,3,NaN,21.99,2009-7
31845,POLAND,natural chocolate plain - per 1kg,PLN,3,NaN,22.06,2009-1

In [10]:
# Remove rows where value is 3000 
df_poland.loc[df_poland['value'] != 3000]

,province,product_types,currency,product_group_id,product_line,value,date
7,POLAND,NaN,PLN,2,pork belly cooked - per 1kg,19.62,2017-3
13,POLAND,fresh chichen egges - per 666pcs.,PLN,3,NaN,0.27,2009-8
15,POLAND,whole pickled cucumbers 0.9l - per 1pc.,PLN,1,NaN,2.36,2004-12
16,POLAND,NaN,PLN,4,bread - per 1kg,NaN,2017-9
52,POLAND,NaN,PLN,4,Masurian barley groats - per 1kg,2.08,2017-1
...,...,...,...,...,...,...,...
149837,POLAND,frozen carrot and pea mix - per 1kg,EUR,1,NaN,0.8433734939759036,2017-4
149890,POLAND,NaN,PLN,2,"salted herring, non-dressed - per 1kg",5.4,2006-3
149897,POLAND,NaN,PLN,4,Masurian barley groats - per 1kg,1.79,2018-3
149899,POLAND,NaN,PLN,4,bread - per 1kg,NaN,2016-10
149926,POLAND,NaN,PLN,4,buckwheat groats roasted whole - per 1kg,5.1,2016-5

In [15]:
# FIlter out rows where value is 3000 from DF for entire POLAND province
df_poland = df_poland.loc[df_poland['value'] != 3000]
df_poland

,province,product_types,currency,product_group_id,product_line,value,date
7,POLAND,NaN,PLN,2,pork belly cooked - per 1kg,19.62,2017-3
13,POLAND,fresh chichen egges - per 666pcs.,PLN,3,NaN,0.27,2009-8
15,POLAND,whole pickled cucumbers 0.9l - per 1pc.,PLN,1,NaN,2.36,2004-12
16,POLAND,NaN,PLN,4,bread - per 1kg,NaN,2017-9
52,POLAND,NaN,PLN,4,Masurian barley groats - per 1kg,2.08,2017-1
...,...,...,...,...,...,...,...
149837,POLAND,frozen carrot and pea mix - per 1kg,EUR,1,NaN,0.8433734939759036,2017-4
149890,POLAND,NaN,PLN,2,"salted herring, non-dressed - per 1kg",5.4,2006-3
149897,POLAND,NaN,PLN,4,Masurian barley groats - per 1kg,1.79,2018-3
149899,POLAND,NaN,PLN,4,bread - per 1kg,NaN,2016-10
149926,POLAND,NaN,PLN,4,buckwheat groats roasted whole - per 1kg,5.1,2016-5