# Aggregation


Using data from file **product_prices_cleaned.csv**, aggregate the data for each product by month and determine the statistics: `min, max, median, mean, std` for prices (**value** column):

1. skip the national data in the analysis,
1. directly on the object from `groupby`,
1. write a loop that will calculate these values for individual provinces.

Use the `agg` method, and aggregate the data with the `'product','date'` column to complete the exercise.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../../01_Data/product_prices_cleaned.csv', sep=';')
df.head()

,province,product_types,currency,product_group_id,product_line,value,date,product2,product
0,SUBCARPATHIA,NaN,PLN,2,pork ham cooked - per 1kg,21.37,2013-3,pork ham cooked - per 1kg,pork ham cooked - per 1kg
1,ŁÓDŹ,NaN,PLN,4,bread - per 1kg,NaN,2018-2,bread - per 1kg,bread - per 1kg
2,KUYAVIA-POMERANIA,NaN,PLN,2,barley groats sausage - per 1kg,3.55,2019-12,barley groats sausage - per 1kg,barley groats sausage - per 1kg
3,LOWER SILESIA,NaN,PLN,2,dressed chickens - per 1kg,6.14,2019-2,dressed chickens - per 1kg,dressed chickens - per 1kg
4,WARMIA-MASURIA,NaN,PLN,2,Italian head cheese - per 1kg,5.63,2002-3,Italian head cheese - per 1kg,Italian head cheese - per 1kg

In [15]:
df.groupby(['product', 'province'])['value'].agg(['min', 'max', 'median', 'mean', 'std'])

                                                            min    max  \
product                                 province
30% tomato concentrate - per 1kg        GREATER POLAND     1.14  15.59
                                        HOLY CROSS         0.00   3.81
                                        KUYAVIA-POMERANIA  0.00   9.57
                                        LESSER POLAND      0.00   9.62
                                        LOWER SILESIA      0.00   7.09
...                                                         ...    ...
whole pickled cucumbers 0.9l - per 1pc. SILESIA            0.38   3.37
                                        SUBCARPATHIA       1.72   3.92
                                        WARMIA-MASURIA     0.00   2.11
                                        WEST POMERANIA     0.00   2.63
                                        ŁÓDŹ               0.00   3.44

                                                           median       mean  \
product                                 province
30% tomato concentrate - per 1kg        GREATER POLAND     10.230  10.357809
                                        HOLY CROSS          0.000   0.080518
                                        KUYAVIA-POMERANIA   0.000   1.861753
                                        LESSER POLAND       7.410   6.177888
                                        LOWER SILESIA       0.000   1.461315
...                                                           ...        ...
whole pickled cucumbers 0.9l - per 1pc. SILESIA             2.725   2.673452
                                        SUBCARPATHIA        2.575   2.689405
                                        WARMIA-MASURIA      0.000   0.097262
                                        WEST POMERANIA      0.000   0.408770
                                        ŁÓDŹ                2.580   2.159524

                                                                std
product                                 province
30% tomato concentrate - per 1kg        GREATER POLAND     2.477641
                                        HOLY CROSS         0.435785
                                        KUYAVIA-POMERANIA  2.809606
                                        LESSER POLAND      3.040344
                                        LOWER SILESIA      2.503964
...                                                             ...
whole pickled cucumbers 0.9l - per 1pc. SILESIA            0.440439
                                        SUBCARPATHIA       0.481247
                                        WARMIA-MASURIA     0.352599
                                        WEST POMERANIA     0.824889
                                        ŁÓDŹ               1.155175

[510 rows x 5 columns]

In [20]:
for i , j in df.groupby(['product', 'province']):
    aggs = j['value'].agg(['min', 'max', 'median', 'mean', 'std'])
    print(i, aggs)

('30% tomato concentrate - per 1kg', 'GREATER POLAND') min        1.140000
max       15.590000
median    10.230000
mean      10.357809
std        2.477641
Name: value, dtype: float64
('30% tomato concentrate - per 1kg', 'HOLY CROSS') min       0.000000
max       3.810000
median    0.000000
mean      0.080518
std       0.435785
Name: value, dtype: float64
('30% tomato concentrate - per 1kg', 'KUYAVIA-POMERANIA') min       0.000000
max       9.570000
median    0.000000
mean      1.861753
std       2.809606
Name: value, dtype: float64
('30% tomato concentrate - per 1kg', 'LESSER POLAND') min       0.000000
max       9.620000
median    7.410000
mean      6.177888
std       3.040344
Name: value, dtype: float64
('30% tomato concentrate - per 1kg', 'LOWER SILESIA') min       0.000000
max       7.090000
median    0.000000
mean      1.461315
std       2.503964
Name: value, dtype: float64
('30% tomato concentrate - per 1kg', 'LUBLIN') min       0.0
max       0.0
median    0.0
mean      0.0
std       0.0
Name: value, dtype: float64
('30% tomato concentrate - per 1kg', 'LUBUSZ') min       0.000000
max       5.510000
median    0.000000
mean      0.118486
std       0.645939
Name: value, dtype: float64
('30% tomato concentrate - per 1kg', 'MASOVIA') min        0.000000
max       12.140000
median     8.930000
mean       8.097689
std        3.357030
Name: value, dtype: float64
('30% tomato concentrate - per 1kg', 'OPOLE') min       0.0
max       0.0
median    0.0
mean      0.0
std       0.0
Name: value, dtype: float64
('30% tomato concentrate - per 1kg', 'PODLASKIE') min       0.000000
max       7.590000
median    0.000000
mean      1.652869
std       2.616823
Name: value, dtype: float64
('30% tomato concentrate - per 1kg', 'POLAND') min        5.890000
max       13.380000
median     9.170000
mean       9.203745
std        1.914239
Name: value, dtype: float64
('30% tomato concentrate - per 1kg', 'POMERANIA') min        0.000000
max       12.340000
median     9.190000
mean       7.732191
std        3.566856
Name: value, dtype: float64
('30% tomato concentrate - per 1kg', 'SILESIA') min       0.000000
max       7.730000
median    5.720000
mean      5.289482
std       1.645414
Name: value, dtype: float64
('30% tomato concentrate - per 1kg', 'SUBCARPATHIA') min        0.000000
max       12.280000
median     8.530000
mean       7.934303
std        3.219474
Name: value, dtype: float64
('30% tomato concentrate - per 1kg', 'WARMIA-MASURIA') min       0.000000
max       8.650000
median    0.000000
mean      2.722948
std       3.604289
Name: value, dtype: float64
('30% tomato concentrate - per 1kg', 'WEST POMERANIA') min       0.0
max       0.0
median    0.0
mean      0.0
std       0.0
Name: value, dtype: float64
('30% tomato concentrate - per 1kg', 'ŁÓDŹ') min       0.000000
max       7.740000
median    6.390000
mean      5.632669
std       2.213306
Name: value, dtype: float64
("Backpacker's canned pork meat - per 300 g", 'GREATER POLAND') min       0.000000
max       3.260000
median    2.170000
mean      2.203135
std       0.543951
Name: value, dtype: float64
("Backpacker's canned pork meat - per 300 g", 'HOLY CROSS') min       0.000000
max       3.590000
median    0.000000
mean      0.594127
std       1.146795
Name: value, dtype: float64
("Backpacker's canned pork meat - per 300 g", 'KUYAVIA-POMERANIA') min       0.000000
max       3.450000
median    0.185000
mean      1.250675
std       1.385646
Name: value, dtype: float64
("Backpacker's canned pork meat - per 300 g", 'LESSER POLAND') min       0.000000
max       3.010000
median    0.000000
mean      0.725952
std       1.135224
Name: value, dtype: float64
("Backpacker's canned pork meat - per 300 g", 'LOWER SILESIA') min       0.000000
max       3.450000
median    0.000000
mean      0.911905
std       1.295430
Name: value, dtype: float64
("Backpacker's canned pork meat - per 300 g", 'LUBLIN') min       0.000000
max       4.850000
median    3.150000
mean      2.605159
std       1.497530
Name: value, dtype: float64
("Backpacker's canned pork meat - per 300 g", 'LUBUSZ') min       0.000000
max       3.240000
median    0.000000
mean      0.269802
std       0.775242
Name: value, dtype: float64
("Backpacker's canned pork meat - per 300 g", 'MASOVIA') min       0.000000
max       3.360000
median    2.325000
mean      2.044484
std       0.936179
Name: value, dtype: float64
("Backpacker's canned pork meat - per 300 g", 'OPOLE') min       0.000000
max       2.680000
median    0.000000
mean      0.185595
std       0.544172
Name: value, dtype: float64
("Backpacker's canned pork meat - per 300 g", 'PODLASKIE') min       0.000000
max       4.230000
median    2.325000
mean      2.463968
std       1.031889
Name: value, dtype: float64
("Backpacker's canned pork meat - per 300 g", 'POLAND') min       0.090000
max       3.360000
median    2.530000
mean      2.512460
std       0.453917
Name: value, dtype: float64
("Backpacker's canned pork meat - per 300 g", 'POMERANIA') min       0.000000
max       2.960000
median    0.000000
mean      0.926667
std       1.156207
Name: value, dtype: float64
("Backpacker's canned pork meat - per 300 g", 'SILESIA') min       0.000000
max       4.030000
median    2.435000
mean      1.889802
std       1.355070
Name: value, dtype: float64
("Backpacker's canned pork meat - per 300 g", 'SUBCARPATHIA') min       0.000000
max       3.210000
median    2.690000
mean      2.372222
std       0.929642
Name: value, dtype: float64
("Backpacker's canned pork meat - per 300 g", 'WARMIA-MASURIA') min       1.900000
max       3.690000
median    2.650000
mean      2.765714
std       0.431627
Name: value, dtype: float64
("Backpacker's canned pork meat - per 300 g", 'WEST POMERANIA') min       0.000000
max       3.930000
median    0.000000
mean      1.103135
std       1.493308
Name: value, dtype: float64
("Backpacker's canned pork meat - per 300 g", 'ŁÓDŹ') min       0.000000
max       3.330000
median    2.535000
mean      2.444365
std       0.567084
Name: value, dtype: float64
("Hunter's sausage dried - per 1kg", 'GREATER POLAND') min       15.120000
max       24.110000
median    18.725000
mean      19.209762
std        2.130595
Name: value, dtype: float64
("Hunter's sausage dried - per 1kg", 'HOLY CROSS') min        0.000000
max       26.320000
median    18.150000
mean      12.305635
std       10.158576
Name: value, dtype: float64
("Hunter's sausage dried - per 1kg", 'KUYAVIA-POMERANIA') min        0.000000
max       26.010000
median    20.925000
mean      19.539405
std        4.608469
Name: value, dtype: float64
("Hunter's sausage dried - per 1kg", 'LESSER POLAND') min        0.000000
max       26.170000
median    20.100000
mean      19.095000
std        6.260989
Name: value, dtype: float64
("Hunter's sausage dried - per 1kg", 'LOWER SILESIA') min       14.530000
max       26.300000
median    20.085000
mean      20.095238
std        2.974020
Name: value, dtype: float64
("Hunter's sausage dried - per 1kg", 'LUBLIN') min       14.680000
max       27.000000
median    19.400000
mean      19.861389
std        3.037419
Name: value, dtype: float64
("Hunter's sausage dried - per 1kg", 'LUBUSZ') min       14.880000
max       22.990000
median    18.285000
mean      18.509325
std        1.914019
Name: value, dtype: float64
("Hunter's sausage dried - per 1kg", 'MASOVIA') min       17.290000
max       29.820000
median    21.750000
mean      22.085556
std        3.186424
Name: value, dtype: float64
("Hunter's sausage dried - per 1kg", 'OPOLE') min        3.020000
max       25.540000
median    18.960000
mean      19.293571
std        3.172431
Name: value, dtype: float64
("Hunter's sausage dried - per 1kg", 'PODLASKIE') min       15.430000
max       26.630000
median    22.075000
mean      21.580714
std        2.684864
Name: value, dtype: float64
("Hunter's sausage dried - per 1kg", 'POLAND') min       16.130000
max       25.980000
median    19.790000
mean      20.179325
std        2.332816
Name: value, dtype: float64
("Hunter's sausage dried - per 1kg", 'POMERANIA') min       15.320000
max       27.710000
median    22.060000
mean      22.230397
std        2.567471
Name: value, dtype: float64
("Hunter's sausage dried - per 1kg", 'SILESIA') min        0.610000
max       25.480000
median    17.825000
mean      18.401667
std        4.194946
Name: value, dtype: float64
("Hunter's sausage dried - per 1kg", 'SUBCARPATHIA') min        0.000000
max       14.170000
median     0.000000
mean       0.914802
std        2.806055
Name: value, dtype: float64
("Hunter's sausage dried - per 1kg", 'WARMIA-MASURIA') min       15.640000
max       25.300000
median    20.025000
mean      20.232897
std        1.788794
Name: value, dtype: float64
("Hunter's sausage dried - per 1kg", 'WEST POMERANIA') min       16.560000
max       25.090000
median    20.020000
mean      20.227897
std        2.236255
Name: value, dtype: float64
("Hunter's sausage dried - per 1kg", 'ŁÓDŹ') min       14.420000
max       24.990000
median    20.345000
mean      19.605794
std        2.577817
Name: value, dtype: float64
('Italian head cheese - per 1kg', 'GREATER POLAND') min        5.560000
max       11.440000
median     7.965000
mean       8.272698
std        1.680842
Name: value, dtype: float64
('Italian head cheese - per 1kg', 'HOLY CROSS') min        5.140000
max       11.790000
median     7.970000
mean       8.178968
std        1.929210
Name: value, dtype: float64
('Italian head cheese - per 1kg', 'KUYAVIA-POMERANIA') min        5.530000
max       12.230000
median     7.470000
mean       8.205992
std        1.891518
Name: value, dtype: float64
('Italian head cheese - per 1kg', 'LESSER POLAND') min        4.540000
max       11.560000
median     7.220000
mean       7.780159
std        2.227210
Name: value, dtype: float64
('Italian head cheese - per 1kg', 'LOWER SILESIA') min        5.430000
max       14.420000
median     7.980000
mean       8.894841
std        2.508744
Name: value, dtype: float64
('Italian head cheese - per 1kg', 'LUBLIN') min        4.920000
max       11.390000
median     7.785000
mean       7.812659
std        1.945921
Name: value, dtype: float64
('Italian head cheese - per 1kg', 'LUBUSZ') min        4.940000
max       12.800000
median     7.720000
mean       8.394484
std        2.330915
Name: value, dtype: float64
('Italian head cheese - per 1kg', 'MASOVIA') min        5.490000
max       13.220000
median     9.050000
mean       9.087540
std        2.377965
Name: value, dtype: float64
('Italian head cheese - per 1kg', 'OPOLE') min        5.550000
max       15.190000
median     8.745000
mean       9.156349
std        2.539539
Name: value, dtype: float64
('Italian head cheese - per 1kg', 'PODLASKIE') min        4.840000
max       11.360000
median     8.215000
mean       8.154206
std        1.773929
Name: value, dtype: float64
('Italian head cheese - per 1kg', 'POLAND') min        5.470000
max       12.840000
median     7.925000
mean       8.407262
std        2.150464
Name: value, dtype: float64
('Italian head cheese - per 1kg', 'POMERANIA') min        4.800000
max       13.730000
median     8.655000
mean       8.787579
std        2.527452
Name: value, dtype: float64
('Italian head cheese - per 1kg', 'SILESIA') min        5.420000
max       14.320000
median     8.165000
mean       9.005079
std        2.584923
Name: value, dtype: float64
('Italian head cheese - per 1kg', 'SUBCARPATHIA') min        5.270000
max       14.300000
median     8.285000
mean       8.956627
std        2.678957
Name: value, dtype: float64
('Italian head cheese - per 1kg', 'WARMIA-MASURIA') min        0.000000
max       12.890000
median     7.050000
mean       7.518135
std        2.422202
Name: value, dtype: float64
('Italian head cheese - per 1kg', 'WEST POMERANIA') min        5.110000
max       11.990000
median     7.490000
mean       8.107579
std        2.081811
Name: value, dtype: float64
('Italian head cheese - per 1kg', 'ŁÓDŹ') min        5.460000
max       12.820000
median     8.925000
mean       8.812778
std        2.004809
Name: value, dtype: float64
('Masurian barley groats - per 1kg', 'GREATER POLAND') min       0.000000
max       3.960000
median    0.325000
mean      1.311667
std       1.521947
Name: value, dtype: float64
('Masurian barley groats - per 1kg', 'HOLY CROSS') min       1.010000
max       2.160000
median    1.595000
mean      1.577024
std       0.278465
Name: value, dtype: float64
('Masurian barley groats - per 1kg', 'KUYAVIA-POMERANIA') min       0.000000
max       3.640000
median    0.955000
mean      1.086468
std       1.204970
Name: value, dtype: float64
('Masurian barley groats - per 1kg', 'LESSER POLAND') min       0.000000
max       1.900000
median    1.380000
mean      1.021151
std       0.704232
Name: value, dtype: float64
('Masurian barley groats - per 1kg', 'LOWER SILESIA') min       0.000000
max       1.240000
median    0.000000
mean      0.195556
std       0.390044
Name: value, dtype: float64
('Masurian barley groats - per 1kg', 'LUBLIN') min       0.000000
max       3.010000
median    1.915000
mean      1.597937
std       0.875268
Name: value, dtype: float64
('Masurian barley groats - per 1kg', 'LUBUSZ') min       0.000000
max       1.130000
median    0.000000
mean      0.072381
std       0.217960
Name: value, dtype: float64
('Masurian barley groats - per 1kg', 'MASOVIA') min       0.000000
max       3.310000
median    1.270000
mean      1.289405
std       0.910538
Name: value, dtype: float64
('Masurian barley groats - per 1kg', 'OPOLE') min       0.0
max       0.0
median    0.0
mean      0.0
std       0.0
Name: value, dtype: float64
('Masurian barley groats - per 1kg', 'PODLASKIE') min       1.010000
max       2.380000
median    1.345000
mean      1.503651
std       0.366588
Name: value, dtype: float64
('Masurian barley groats - per 1kg', 'POLAND') min       0.980000
max       2.360000
median    1.415000
mean      1.557421
std       0.384636
Name: value, dtype: float64
('Masurian barley groats - per 1kg', 'POMERANIA') min       0.000000
max       1.730000
median    1.210000
mean      1.000397
std       0.607180
Name: value, dtype: float64
('Masurian barley groats - per 1kg', 'SILESIA') min       0.000000
max       1.000000
median    0.000000
mean      0.029762
std       0.151313
Name: value, dtype: float64
('Masurian barley groats - per 1kg', 'SUBCARPATHIA') min       0.000000
max       0.880000
median    0.000000
mean      0.022302
std       0.115859
Name: value, dtype: float64
('Masurian barley groats - per 1kg', 'WARMIA-MASURIA') min       0.000000
max       1.440000
median    0.000000
mean      0.095754
std       0.311688
Name: value, dtype: float64
('Masurian barley groats - per 1kg', 'WEST POMERANIA') min       0.890000
max       2.520000
median    1.610000
mean      1.603690
std       0.446761
Name: value, dtype: float64
('Masurian barley groats - per 1kg', 'ŁÓDŹ') min       0.000000
max       1.190000
median    0.000000
mean      0.078492
std       0.265551
Name: value, dtype: float64
('Poznan wheat flour, bagged - per 1kg', 'GREATER POLAND') min       0.000000
max       1.440000
median    0.930000
mean      0.833056
std       0.413667
Name: value, dtype: float64
('Poznan wheat flour, bagged - per 1kg', 'HOLY CROSS') min       0.000000
max       1.520000
median    0.835000
mean      0.585159
std       0.553655
Name: value, dtype: float64
('Poznan wheat flour, bagged - per 1kg', 'KUYAVIA-POMERANIA') min       0.000000
max       1.280000
median    0.405000
mean      0.461429
std       0.456726
Name: value, dtype: float64
('Poznan wheat flour, bagged - per 1kg', 'LESSER POLAND') min       0.710000
max       1.550000
median    1.050000
mean      1.079484
std       0.178037
Name: value, dtype: float64
('Poznan wheat flour, bagged - per 1kg', 'LOWER SILESIA') min       0.000000
max       1.350000
median    0.610000
mean      0.535913
std       0.490275
Name: value, dtype: float64
('Poznan wheat flour, bagged - per 1kg', 'LUBLIN') min       0.000000
max       1.530000
median    1.000000
mean      0.992222
std       0.224588
Name: value, dtype: float64
('Poznan wheat flour, bagged - per 1kg', 'LUBUSZ') min       0.000000
max       1.170000
median    0.000000
mean      0.334881
std       0.411877
Name: value, dtype: float64
('Poznan wheat flour, bagged - per 1kg', 'MASOVIA') min       0.000000
max       1.110000
median    0.000000
mean      0.197063
std       0.370166
Name: value, dtype: float64
('Poznan wheat flour, bagged - per 1kg', 'OPOLE') min       0.000000
max       0.990000
median    0.000000
mean      0.058175
std       0.184334
Name: value, dtype: float64
('Poznan wheat flour, bagged - per 1kg', 'PODLASKIE') min       0.000000
max       0.760000
median    0.000000
mean      0.019048
std       0.095065
Name: value, dtype: float64
('Poznan wheat flour, bagged - per 1kg', 'POLAND') min       0.630000
max       1.490000
median    1.020000
mean      1.031349
std       0.181544
Name: value, dtype: float64
('Poznan wheat flour, bagged - per 1kg', 'POMERANIA') min       0.000000
max       1.480000
median    0.810000
mean      0.687302
std       0.475759
Name: value, dtype: float64
('Poznan wheat flour, bagged - per 1kg', 'SILESIA') min       0.000000
max       1.040000
median    0.000000
mean      0.041984
std       0.164099
Name: value, dtype: float64
('Poznan wheat flour, bagged - per 1kg', 'SUBCARPATHIA') min       0.000000
max       1.500000
median    0.910000
mean      0.745000
std       0.473223
Name: value, dtype: float64
('Poznan wheat flour, bagged - per 1kg', 'WARMIA-MASURIA') min       0.000000
max       1.520000
median    1.020000
mean      0.815794
std       0.495003
Name: value, dtype: float64
('Poznan wheat flour, bagged - per 1kg', 'WEST POMERANIA') min       0.000000
max       1.290000
median    0.735000
mean      0.607381
std       0.472809
Name: value, dtype: float64
('Poznan wheat flour, bagged - per 1kg', 'ŁÓDŹ') min       0.000000
max       1.370000
median    0.760000
mean      0.567817
std       0.462840
Name: value, dtype: float64
('apple juice, boxed - per 1l', 'GREATER POLAND') min       0.000000
max       2.180000
median    0.000000
mean      0.342897
std       0.656408
Name: value, dtype: float64
('apple juice, boxed - per 1l', 'HOLY CROSS') min       0.000000
max       1.960000
median    0.000000
mean      0.045119
std       0.233527
Name: value, dtype: float64
('apple juice, boxed - per 1l', 'KUYAVIA-POMERANIA') min       0.000000
max       1.890000
median    0.000000
mean      0.228254
std       0.462871
Name: value, dtype: float64
('apple juice, boxed - per 1l', 'LESSER POLAND') min       0.000000
max       2.210000
median    1.700000
mean      1.606429
std       0.414516
Name: value, dtype: float64
('apple juice, boxed - per 1l', 'LOWER SILESIA') min       0.000000
max       2.610000
median    0.000000
mean      0.343452
std       0.739202
Name: value, dtype: float64
('apple juice, boxed - per 1l', 'LUBLIN') min       0.000000
max       1.920000
median    0.000000
mean      0.065754
std       0.305794
Name: value, dtype: float64
('apple juice, boxed - per 1l', 'LUBUSZ') min       0.000000
max       2.020000
median    0.000000
mean      0.040952
std       0.225685
Name: value, dtype: float64
('apple juice, boxed - per 1l', 'MASOVIA') min       0.680000
max       3.290000
median    2.355000
mean      2.373016
std       0.463926
Name: value, dtype: float64
('apple juice, boxed - per 1l', 'OPOLE') min       0.0
max       0.0
median    0.0
mean      0.0
std       0.0
Name: value, dtype: float64
('apple juice, boxed - per 1l', 'PODLASKIE') min       0.000000
max       2.310000
median    0.000000
mean      0.155675
std       0.518578
Name: value, dtype: float64
('apple juice, boxed - per 1l', 'POLAND') min       1.340000
max       2.430000
median    1.920000
mean      1.913929
std       0.260017
Name: value, dtype: float64
('apple juice, boxed - per 1l', 'POMERANIA') min       0.000000
max       2.020000
median    0.000000
mean      0.359683
std       0.658144
Name: value, dtype: float64

In [13]:
from IPython.display import display

province_dataframes = {}

for province in df['province'].unique():
    print(province)
    df_province = df[df['province'] == province]
    df_province_agg = df_province.groupby(['product', 'date'])['value'].agg(['min', 'max', 'median', 'mean', 'std'])
    province_dataframes[province] = df_province_agg
    display(df_province_agg)
    
# province_dataframes['SUBCARPATHIA']

SUBCARPATHIA

                                                  min   max  median  mean  std
product                                 date
30% tomato concentrate - per 1kg        1999-1   0.00  0.00    0.00  0.00  NaN
                                        1999-10  0.00  0.00    0.00  0.00  NaN
                                        1999-11  0.00  0.00    0.00  0.00  NaN
                                        1999-12  0.00  0.00    0.00  0.00  NaN
                                        1999-2   0.00  0.00    0.00  0.00  NaN
...                                               ...   ...     ...   ...  ...
whole pickled cucumbers 0.9l - per 1pc. 2019-5   3.18  3.18    3.18  3.18  NaN
                                        2019-6   3.72  3.72    3.72  3.72  NaN
                                        2019-7   3.28  3.28    3.28  3.28  NaN
                                        2019-8   3.86  3.86    3.86  3.86  NaN
                                        2019-9   3.44  3.44    3.44  3.44  NaN

[7559 rows x 5 columns]

ŁÓDŹ

                                                  min   max  median  mean  std
product                                 date
30% tomato concentrate - per 1kg        1999-1   6.76  6.76    6.76  6.76  NaN
                                        1999-10  6.70  6.70    6.70  6.70  NaN
                                        1999-11  7.25  7.25    7.25  7.25  NaN
                                        1999-12  6.94  6.94    6.94  6.94  NaN
                                        1999-2   6.98  6.98    6.98  6.98  NaN
...                                               ...   ...     ...   ...  ...
whole pickled cucumbers 0.9l - per 1pc. 2019-5   2.33  2.33    2.33  2.33  NaN
                                        2019-6   3.32  3.32    3.32  3.32  NaN
                                        2019-7   2.46  2.46    2.46  2.46  NaN
                                        2019-8   2.73  2.73    2.73  2.73  NaN
                                        2019-9   2.67  2.67    2.67  2.67  NaN

[7559 rows x 5 columns]

KUYAVIA-POMERANIA

                                                  min   max  median  mean  std
product                                 date
30% tomato concentrate - per 1kg        1999-1   6.72  6.72    6.72  6.72  NaN
                                        1999-10  6.76  6.76    6.76  6.76  NaN
                                        1999-11  6.55  6.55    6.55  6.55  NaN
                                        1999-12  6.90  6.90    6.90  6.90  NaN
                                        1999-2   7.02  7.02    7.02  7.02  NaN
...                                               ...   ...     ...   ...  ...
whole pickled cucumbers 0.9l - per 1pc. 2019-5   2.49  2.49    2.49  2.49  NaN
                                        2019-6   1.89  1.89    1.89  1.89  NaN
                                        2019-7   2.08  2.08    2.08  2.08  NaN
                                        2019-8   1.90  1.90    1.90  1.90  NaN
                                        2019-9   2.35  2.35    2.35  2.35  NaN

[7559 rows x 5 columns]

LOWER SILESIA

                                                  min   max  median  mean  std
product                                 date
30% tomato concentrate - per 1kg        1999-1   6.01  6.01    6.01  6.01  NaN
                                        1999-10  5.69  5.69    5.69  5.69  NaN
                                        1999-11  6.52  6.52    6.52  6.52  NaN
                                        1999-12  6.35  6.35    6.35  6.35  NaN
                                        1999-2   5.52  5.52    5.52  5.52  NaN
...                                               ...   ...     ...   ...  ...
whole pickled cucumbers 0.9l - per 1pc. 2019-5   2.56  2.56    2.56  2.56  NaN
                                        2019-6   2.99  2.99    2.99  2.99  NaN
                                        2019-7   2.56  2.56    2.56  2.56  NaN
                                        2019-8   3.52  3.52    3.52  3.52  NaN
                                        2019-9   3.06  3.06    3.06  3.06  NaN

[7559 rows x 5 columns]

WARMIA-MASURIA

                                                  min   max  median  mean  std
product                                 date
30% tomato concentrate - per 1kg        1999-1   0.00  0.00    0.00  0.00  NaN
                                        1999-10  0.00  0.00    0.00  0.00  NaN
                                        1999-11  0.00  0.00    0.00  0.00  NaN
                                        1999-12  0.00  0.00    0.00  0.00  NaN
                                        1999-2   0.00  0.00    0.00  0.00  NaN
...                                               ...   ...     ...   ...  ...
whole pickled cucumbers 0.9l - per 1pc. 2019-5   1.32  1.32    1.32  1.32  NaN
                                        2019-6   1.67  1.67    1.67  1.67  NaN
                                        2019-7   1.36  1.36    1.36  1.36  NaN
                                        2019-8   1.46  1.46    1.46  1.46  NaN
                                        2019-9   1.22  1.22    1.22  1.22  NaN

[7559 rows x 5 columns]

HOLY CROSS

                                                  min   max  median  mean  std
product                                 date
30% tomato concentrate - per 1kg        1999-1   3.81  3.81    3.81  3.81  NaN
                                        1999-10  1.27  1.27    1.27  1.27  NaN
                                        1999-11  1.62  1.62    1.62  1.62  NaN
                                        1999-12  0.95  0.95    0.95  0.95  NaN
                                        1999-2   2.67  2.67    2.67  2.67  NaN
...                                               ...   ...     ...   ...  ...
whole pickled cucumbers 0.9l - per 1pc. 2019-5   0.06  0.06    0.06  0.06  NaN
                                        2019-6   0.88  0.88    0.88  0.88  NaN
                                        2019-7   0.03  0.03    0.03  0.03  NaN
                                        2019-8   1.55  1.55    1.55  1.55  NaN
                                        2019-9   1.40  1.40    1.40  1.40  NaN

[7559 rows x 5 columns]

WEST POMERANIA

                                                 min  max  median  mean  std
product                                 date
30% tomato concentrate - per 1kg        1999-1   0.0  0.0     0.0   0.0  NaN
                                        1999-10  0.0  0.0     0.0   0.0  NaN
                                        1999-11  0.0  0.0     0.0   0.0  NaN
                                        1999-12  0.0  0.0     0.0   0.0  NaN
                                        1999-2   0.0  0.0     0.0   0.0  NaN
...                                              ...  ...     ...   ...  ...
whole pickled cucumbers 0.9l - per 1pc. 2019-5   0.0  0.0     0.0   0.0  NaN
                                        2019-6   0.0  0.0     0.0   0.0  NaN
                                        2019-7   0.0  0.0     0.0   0.0  NaN
                                        2019-8   0.0  0.0     0.0   0.0  NaN
                                        2019-9   0.0  0.0     0.0   0.0  NaN

[7559 rows x 5 columns]

POLAND

                                                  min   max  median  mean  std
product                                 date
30% tomato concentrate - per 1kg        1999-1   6.53  6.53    6.53  6.53  NaN
                                        1999-10  6.95  6.95    6.95  6.95  NaN
                                        1999-11  6.70  6.70    6.70  6.70  NaN
                                        1999-12  5.89  5.89    5.89  5.89  NaN
                                        1999-2   6.74  6.74    6.74  6.74  NaN
...                                               ...   ...     ...   ...  ...
whole pickled cucumbers 0.9l - per 1pc. 2019-5   2.84  2.84    2.84  2.84  NaN
                                        2019-6   3.04  3.04    3.04  3.04  NaN
                                        2019-7   3.03  3.03    3.03  3.03  NaN
                                        2019-8   3.02  3.02    3.02  3.02  NaN
                                        2019-9   3.42  3.42    3.42  3.42  NaN

[7559 rows x 5 columns]

PODLASKIE

                                                  min   max  median  mean  std
product                                 date
30% tomato concentrate - per 1kg        1999-1   0.00  0.00    0.00  0.00  NaN
                                        1999-10  0.00  0.00    0.00  0.00  NaN
                                        1999-11  0.00  0.00    0.00  0.00  NaN
                                        1999-12  0.00  0.00    0.00  0.00  NaN
                                        1999-2   0.00  0.00    0.00  0.00  NaN
...                                               ...   ...     ...   ...  ...
whole pickled cucumbers 0.9l - per 1pc. 2019-5   1.32  1.32    1.32  1.32  NaN
                                        2019-6   1.27  1.27    1.27  1.27  NaN
                                        2019-7   0.78  0.78    0.78  0.78  NaN
                                        2019-8   1.52  1.52    1.52  1.52  NaN
                                        2019-9   1.94  1.94    1.94  1.94  NaN

[7559 rows x 5 columns]

GREATER POLAND

                                                  min   max  median  mean  std
product                                 date
30% tomato concentrate - per 1kg        1999-1   7.56  7.56    7.56  7.56  NaN
                                        1999-10  7.02  7.02    7.02  7.02  NaN
                                        1999-11  8.21  8.21    8.21  8.21  NaN
                                        1999-12  7.87  7.87    7.87  7.87  NaN
                                        1999-2   7.09  7.09    7.09  7.09  NaN
...                                               ...   ...     ...   ...  ...
whole pickled cucumbers 0.9l - per 1pc. 2019-5   2.89  2.89    2.89  2.89  NaN
                                        2019-6   3.48  3.48    3.48  3.48  NaN
                                        2019-7   2.76  2.76    2.76  2.76  NaN
                                        2019-8   2.42  2.42    2.42  2.42  NaN
                                        2019-9   3.46  3.46    3.46  3.46  NaN

[7559 rows x 5 columns]

POMERANIA

                                                  min   max  median  mean  std
product                                 date
30% tomato concentrate - per 1kg        1999-1   8.03  8.03    8.03  8.03  NaN
                                        1999-10  7.46  7.46    7.46  7.46  NaN
                                        1999-11  7.70  7.70    7.70  7.70  NaN
                                        1999-12  7.57  7.57    7.57  7.57  NaN
                                        1999-2   7.60  7.60    7.60  7.60  NaN
...                                               ...   ...     ...   ...  ...
whole pickled cucumbers 0.9l - per 1pc. 2019-5   4.83  4.83    4.83  4.83  NaN
                                        2019-6   5.37  5.37    5.37  5.37  NaN
                                        2019-7   2.33  2.33    2.33  2.33  NaN
                                        2019-8   3.55  3.55    3.55  3.55  NaN
                                        2019-9   2.36  2.36    2.36  2.36  NaN

[7559 rows x 5 columns]

LESSER POLAND

                                                  min   max  median  mean  std
product                                 date
30% tomato concentrate - per 1kg        1999-1   6.23  6.23    6.23  6.23  NaN
                                        1999-10  4.39  4.39    4.39  4.39  NaN
                                        1999-11  3.76  3.76    3.76  3.76  NaN
                                        1999-12  1.58  1.58    1.58  1.58  NaN
                                        1999-2   4.35  4.35    4.35  4.35  NaN
...                                               ...   ...     ...   ...  ...
whole pickled cucumbers 0.9l - per 1pc. 2019-5   3.56  3.56    3.56  3.56  NaN
                                        2019-6   2.60  2.60    2.60  2.60  NaN
                                        2019-7   2.80  2.80    2.80  2.80  NaN
                                        2019-8   3.92  3.92    3.92  3.92  NaN
                                        2019-9   3.96  3.96    3.96  3.96  NaN

[7559 rows x 5 columns]

SILESIA

                                                  min   max  median  mean  std
product                                 date
30% tomato concentrate - per 1kg        1999-1   7.10  7.10    7.10  7.10  NaN
                                        1999-10  7.43  7.43    7.43  7.43  NaN
                                        1999-11  7.32  7.32    7.32  7.32  NaN
                                        1999-12  7.49  7.49    7.49  7.49  NaN
                                        1999-2   7.73  7.73    7.73  7.73  NaN
...                                               ...   ...     ...   ...  ...
whole pickled cucumbers 0.9l - per 1pc. 2019-5   3.30  3.30    3.30  3.30  NaN
                                        2019-6   0.66  0.66    0.66  0.66  NaN
                                        2019-7   1.12  1.12    1.12  1.12  NaN
                                        2019-8   2.81  2.81    2.81  2.81  NaN
                                        2019-9   1.97  1.97    1.97  1.97  NaN

[7559 rows x 5 columns]

MASOVIA

                                                  min   max  median  mean  std
product                                 date
30% tomato concentrate - per 1kg        1999-1   0.00  0.00    0.00  0.00  NaN
                                        1999-10  0.00  0.00    0.00  0.00  NaN
                                        1999-11  0.00  0.00    0.00  0.00  NaN
                                        1999-12  0.00  0.00    0.00  0.00  NaN
                                        1999-2   0.00  0.00    0.00  0.00  NaN
...                                               ...   ...     ...   ...  ...
whole pickled cucumbers 0.9l - per 1pc. 2019-5   4.13  4.13    4.13  4.13  NaN
                                        2019-6   1.76  1.76    1.76  1.76  NaN
                                        2019-7   3.76  3.76    3.76  3.76  NaN
                                        2019-8   1.36  1.36    1.36  1.36  NaN
                                        2019-9   3.11  3.11    3.11  3.11  NaN

[7559 rows x 5 columns]

LUBLIN

                                                  min   max  median  mean  std
product                                 date
30% tomato concentrate - per 1kg        1999-1   0.00  0.00    0.00  0.00  NaN
                                        1999-10  0.00  0.00    0.00  0.00  NaN
                                        1999-11  0.00  0.00    0.00  0.00  NaN
                                        1999-12  0.00  0.00    0.00  0.00  NaN
                                        1999-2   0.00  0.00    0.00  0.00  NaN
...                                               ...   ...     ...   ...  ...
whole pickled cucumbers 0.9l - per 1pc. 2019-5   1.52  1.52    1.52  1.52  NaN
                                        2019-6   1.96  1.96    1.96  1.96  NaN
                                        2019-7   2.00  2.00    2.00  2.00  NaN
                                        2019-8   1.60  1.60    1.60  1.60  NaN
                                        2019-9   1.74  1.74    1.74  1.74  NaN

[7559 rows x 5 columns]

LUBUSZ

                                                 min  max  median  mean  std
product                                 date
30% tomato concentrate - per 1kg        1999-1   0.0  0.0     0.0   0.0  NaN
                                        1999-10  0.0  0.0     0.0   0.0  NaN
                                        1999-11  0.0  0.0     0.0   0.0  NaN
                                        1999-12  0.0  0.0     0.0   0.0  NaN
                                        1999-2   0.0  0.0     0.0   0.0  NaN
...                                              ...  ...     ...   ...  ...
whole pickled cucumbers 0.9l - per 1pc. 2019-5   0.0  0.0     0.0   0.0  NaN
                                        2019-6   0.0  0.0     0.0   0.0  NaN
                                        2019-7   0.0  0.0     0.0   0.0  NaN
                                        2019-8   0.0  0.0     0.0   0.0  NaN
                                        2019-9   0.0  0.0     0.0   0.0  NaN

[7559 rows x 5 columns]

OPOLE

                                                  min   max  median  mean  std
product                                 date
30% tomato concentrate - per 1kg        1999-1   0.00  0.00    0.00  0.00  NaN
                                        1999-10  0.00  0.00    0.00  0.00  NaN
                                        1999-11  0.00  0.00    0.00  0.00  NaN
                                        1999-12  0.00  0.00    0.00  0.00  NaN
                                        1999-2   0.00  0.00    0.00  0.00  NaN
...                                               ...   ...     ...   ...  ...
whole pickled cucumbers 0.9l - per 1pc. 2019-5   1.99  1.99    1.99  1.99  NaN
                                        2019-6   1.68  1.68    1.68  1.68  NaN
                                        2019-7   0.65  0.65    0.65  0.65  NaN
                                        2019-8   0.61  0.61    0.61  0.61  NaN
                                        2019-9   0.38  0.38    0.38  0.38  NaN

[7559 rows x 5 columns]

                                                  min   max  median  mean  std
product                                 date
30% tomato concentrate - per 1kg        1999-1   0.00  0.00    0.00  0.00  NaN
                                        1999-10  0.00  0.00    0.00  0.00  NaN
                                        1999-11  0.00  0.00    0.00  0.00  NaN
                                        1999-12  0.00  0.00    0.00  0.00  NaN
                                        1999-2   0.00  0.00    0.00  0.00  NaN
...                                               ...   ...     ...   ...  ...
whole pickled cucumbers 0.9l - per 1pc. 2019-5   3.18  3.18    3.18  3.18  NaN
                                        2019-6   3.72  3.72    3.72  3.72  NaN
                                        2019-7   3.28  3.28    3.28  3.28  NaN
                                        2019-8   3.86  3.86    3.86  3.86  NaN
                                        2019-9   3.44  3.44    3.44  3.44  NaN

[7559 rows x 5 columns]