## Selection of data for analysis

Answer the following questions:

1. What was the average price of a carrot and pea mix per 1 kg in Poland in 2015?
2. What was the average price of apple juice in 2016-2018 in the Masovia province?
3. What was the average price of tomato paste in Lower Silesia Province in 2003-2015? Compared with other products does it seem reasonable to you?<br>

Suggest what can be done with values equal to 0. How does this affect the results of point 3?

> All the product groups needed for this task are in the **product_types** column.

In [47]:
import pandas as pd

In [48]:
df = pd.read_csv('../../01_Data/product_prices_renamed.csv',
  sep=';',
  encoding='UTF-8',
  decimal='.'
)

df.head()

,province,product_types,currency,product_group_id,product_line,value,date
0,SUBCARPATHIA,NaN,PLN,2,pork ham cooked - per 1kg,21.37,2013-3
1,ŁÓDŹ,NaN,PLN,4,bread - per 1kg,NaN,2018-2
2,KUYAVIA-POMERANIA,NaN,PLN,2,barley groats sausage - per 1kg,3.55,2019-12
3,LOWER SILESIA,NaN,PLN,2,dressed chickens - per 1kg,6.14,2019-2
4,WARMIA-MASURIA,NaN,PLN,2,Italian head cheese - per 1kg,5.63,2002-3

In [49]:
# What was the average price of a carrot and pea mix per 1 kg in Poland in 2015?

carrot_pea_2015 = df.loc[
    (df['province'] == 'POLAND') &
    (df['product_types'] == 'frozen carrot and pea mix - per 1kg') &
    (df['date'] >= '2015-1') &
    (df['date'] <= '2015-12')

]

print(f"Average Price of Frozen Carrot and Pea Mix per 1 kg in Poland in 2015: {carrot_pea_2015['value'].mean().round(2)} PLN.")

carrot_pea_2015

Average Price of Frozen Carrot and Pea Mix per 1 kg in Poland in 2015: 0.84 PLN.

,province,product_types,currency,product_group_id,product_line,value,date
8542,POLAND,frozen carrot and pea mix - per 1kg,EUR,1,NaN,0.824096,2015-1
60491,POLAND,frozen carrot and pea mix - per 1kg,EUR,1,NaN,0.843373,2015-12
64981,POLAND,frozen carrot and pea mix - per 1kg,EUR,1,NaN,0.816867,2015-11
113640,POLAND,frozen carrot and pea mix - per 1kg,EUR,1,NaN,0.884337,2015-10

In [50]:
# df['date'] = pd.to_datetime(df['date'], errors='coerce')

# carrot_pea_2015 = df[
#     (df['province'] == 'POLAND') &
#     (df['product_types'] == 'frozen carrot and pea mix - per 1kg') &
#     (df['date'].dt.year == 2015)
# ]

# print(f"Average Price of Frozen Carrot and Pea Mix per 1 kg in Poland in 2015: {carrot_pea_2015['value'].mean().round(2)} PLN.")

# carrot_pea_2015

In [51]:
# What was the average price of apple juice in 2016-2018 in the Masovia province?

apple_juice_masovia = df.loc[
    (df['product_types'] == 'apple juice, boxed - per 1l') &
    (df['province'] == 'MASOVIA') &
    (df['date'] >= '2016-1') &
    (df['date'] <= '2018-12')
]

print(f"Average Price of Apple Juice in 2016-2018 in the Masovia Province: {apple_juice_masovia['value'].mean().round(2)}")

apple_juice_masovia

Average Price of Apple Juice in 2016-2018 in the Masovia Province: 3.02

,province,product_types,currency,product_group_id,product_line,value,date
8147,MASOVIA,"apple juice, boxed - per 1l",PLN,1,NaN,3.06,2018-10
9935,MASOVIA,"apple juice, boxed - per 1l",PLN,1,NaN,3.29,2017-3
11100,MASOVIA,"apple juice, boxed - per 1l",PLN,1,NaN,2.94,2016-5
18729,MASOVIA,"apple juice, boxed - per 1l",PLN,1,NaN,3.26,2017-10
24353,MASOVIA,"apple juice, boxed - per 1l",PLN,1,NaN,2.92,2016-10
26641,MASOVIA,"apple juice, boxed - per 1l",PLN,1,NaN,2.92,2017-4
34425,MASOVIA,"apple juice, boxed - per 1l",PLN,1,NaN,2.99,2016-9
35374,MASOVIA,"apple juice, boxed - per 1l",PLN,1,NaN,2.97,2017-9
41493,MASOVIA,"apple juice, boxed - per 1l",PLN,1,NaN,3.10,2016-3
50507,MASOVIA,"apple juice, boxed - per 1l",PLN,1,NaN,3.25,2018-1
71630,MASOVIA,"apple juice, boxed - per 1l",PLN,1,NaN,2.34,2018-11
73356,MASOVIA,"apple juice, boxed - per 1l",PLN,1,NaN,3.14,2016-4
74535,MASOVIA,"apple juice, boxed - per 1l",PLN,1,NaN,2.81,2017-7
80314,MASOVIA,"apple juice, boxed - per 1l",PLN,1,NaN,2.85,2016-2
99889,MASOVIA,"apple juice, boxed - per 1l",PLN,1,NaN,2.87,2018-12
108152,MASOVIA,"apple juice, boxed - per 1l",PLN,1,NaN,2.87,2017-11
110298,MASOVIA,"apple juice, boxed - per 1l",PLN,1,NaN,2.97,2017-6
110996,MASOVIA,"apple juice, boxed - per 1l",PLN,1,NaN,2.85,2016-8
111265,MASOVIA,"apple juice, boxed - per 1l",PLN,1,NaN,3.22,2017-12
131311,MASOVIA,"apple juice, boxed - per 1l",PLN,1,NaN,3.09,2016-12
132362,MASOVIA,"apple juice, boxed - per 1l",PLN,1,NaN,3.03,2017-2
134629,MASOVIA,"apple juice, boxed - per 1l",PLN,1,NaN,3.20,2017-8
134734,MASOVIA,"apple juice, boxed - per 1l",PLN,1,NaN,3.29,2016-11
137637,MASOVIA,"apple juice, boxed - per 1l",PLN,1,NaN,3.09,2017-1
138797,MASOVIA,"apple juice, boxed - per 1l",PLN,1,NaN,3.20,2017-5
144390,MASOVIA,"apple juice, boxed - per 1l",PLN,1,NaN,3.09,2016-1
145791,MASOVIA,"apple juice, boxed - per 1l",PLN,1,NaN,2.83,2016-6
149403,MASOVIA,"apple juice, boxed - per 1l",PLN,1,NaN,3.12,2016-7

In [52]:
%%time
# Average price of tomato paste in Lower Silesia Province in 2003-2015

tomato_paste_lower_silesia = df.loc[
    (df['product_types'] == '30% tomato concentrate - per 1kg') &
    (df['province'] == 'LOWER SILESIA') &
    (df['date'] >= '2003-1') &
    (df['date'] <= '2015-12')
#     (df['date'].dt.year >= 2003) & (df['date'].dt.year <= 2015)
]

print(f"Average Price of Tomato Paste in Lower Silesia Province in 2003-2015: {tomato_paste_lower_silesia['value'].mean().round(2)}")

tomato_paste_lower_silesia

Average Price of Tomato Paste in Lower Silesia Province in 2003-2015: 20.49
CPU times: user 16.8 ms, sys: 1.38 ms, total: 18.2 ms
Wall time: 26 ms

,province,product_types,currency,product_group_id,product_line,value,date
64,LOWER SILESIA,30% tomato concentrate - per 1kg,PLN,1,NaN,0.00,2007-10
503,LOWER SILESIA,30% tomato concentrate - per 1kg,PLN,1,NaN,0.00,2004-3
813,LOWER SILESIA,30% tomato concentrate - per 1kg,PLN,1,NaN,0.00,2006-7
844,LOWER SILESIA,30% tomato concentrate - per 1kg,PLN,1,NaN,0.00,2010-11
1580,LOWER SILESIA,30% tomato concentrate - per 1kg,PLN,1,NaN,0.00,2006-3
...,...,...,...,...,...,...,...
141900,LOWER SILESIA,30% tomato concentrate - per 1kg,PLN,1,NaN,4.54,2003-12
142874,LOWER SILESIA,30% tomato concentrate - per 1kg,PLN,1,NaN,0.00,2012-10
144819,LOWER SILESIA,30% tomato concentrate - per 1kg,PLN,1,NaN,0.00,2015-1
146608,LOWER SILESIA,30% tomato concentrate - per 1kg,PLN,1,NaN,1.98,2003-4
149794,LOWER SILESIA,30% tomato concentrate - per 1kg,PLN,1,NaN,0.00,2012-5

In [53]:
%%time
frozen = df.query("product_types == '30% tomato concentrate - per 1kg' and date >= '2003-1' and date <= '2015-12' and province == 'LOWER SILESIA'")

print(f"The average price of tomato paste in Lower Silesia Province in 2003-2015 was {frozen['value'].mean().round(2)} PNL")

The average price of tomato paste in Lower Silesia Province in 2003-2015 was 20.49 PNL
CPU times: user 13.2 ms, sys: 2.81 ms, total: 16 ms
Wall time: 45.7 ms

In [54]:
# Suggest what can be done with values equal to 0. How does this affect the results of point 3?

# To address values equal to 0, which can skew the results, we have several options:

# Exclude Zero Values: 
    # This method involves removing all entries with a value of 0. 
    # This approach assumes that these values are either data entry errors or represent a lack of available price information.
# Impute Zero Values: 
    # This method involves replacing zero values with a reasonable estimate, such as the mean or median price of that product. 
    # This approach can be more reflective of the actual pricing but requires careful consideration to avoid introducing bias.

tomato_paste_lower_silesia = df.loc[
    (df['product_types'] == '30% tomato concentrate - per 1kg') &
    (df['province'] == 'LOWER SILESIA') &
    (df['date'] >= '2003-1') &
    (df['date'] <= '2015-12') &
    (df['value'] != 0)
]

print(f"Average Price of Tomato Paste in Lower Silesia Province in 2003-2015: {tomato_paste_lower_silesia['value'].mean().round(2)}")

tomato_paste_lower_silesia

# Given this result, it's important to examine the dataset for outliers or erroneous entries.

Average Price of Tomato Paste in Lower Silesia Province in 2003-2015: 252.66

,province,product_types,currency,product_group_id,product_line,value,date
2959,LOWER SILESIA,30% tomato concentrate - per 1kg,PLN,1,NaN,1.45,2003-6
6273,LOWER SILESIA,30% tomato concentrate - per 1kg,PLN,1,NaN,4.38,2003-9
18768,LOWER SILESIA,30% tomato concentrate - per 1kg,PLN,1,NaN,3000.00,2003-1
32250,LOWER SILESIA,30% tomato concentrate - per 1kg,PLN,1,NaN,0.79,2003-8
44288,LOWER SILESIA,30% tomato concentrate - per 1kg,PLN,1,NaN,2.18,2003-7
45041,LOWER SILESIA,30% tomato concentrate - per 1kg,PLN,1,NaN,5.07,2003-10
55957,LOWER SILESIA,30% tomato concentrate - per 1kg,PLN,1,NaN,2.70,2003-2
58893,LOWER SILESIA,30% tomato concentrate - per 1kg,PLN,1,NaN,4.35,2003-3
94873,LOWER SILESIA,30% tomato concentrate - per 1kg,PLN,1,NaN,1.34,2003-5
134963,LOWER SILESIA,30% tomato concentrate - per 1kg,PLN,1,NaN,3.11,2003-11
141900,LOWER SILESIA,30% tomato concentrate - per 1kg,PLN,1,NaN,4.54,2003-12
146608,LOWER SILESIA,30% tomato concentrate - per 1kg,PLN,1,NaN,1.98,2003-4