# Modification of column names

Read the file **product_prices.csv** into a DataFrame. Modify the names of columns so that they match those in the  **product_prices_renamed.csv** file. Complete two variants of the exercise:

1. Using the `rename` method,
1. Overwriting all column names using `columns`.

To unify the naming and reduce the risk of a **typo**, you can use the dictionary below:
```
{'Name': 'province',
 'Types of goods': 'product_types',
 'Measurement unit': 'currency',
 'id': 'id',
 'Types of products': 'product_line',
 'Value': 'value',
 'Date': 'date'}```

> The `columns` method overwrites the columns directly on the object (does not return a new DataFrame), so if you do step 2 first, the hint will be useless (the columns get overwritten).

In [2]:
import pandas as pd

In [34]:
# Loading the file
df = pd.read_csv('../../01_Data/product_prices.csv', sep=';', decimal='.')
df.head()

,Name,Goods types,Measurement unit,Group ID,Product types,Value,Date
0,SUBCARPATHIA,NaN,PLN,2,pork ham cooked - per 1kg,21.37,2013-3
1,ŁÓDŹ,NaN,PLN,4,bread - per 1kg,NaN,2018-2
2,KUYAVIA-POMERANIA,NaN,PLN,2,barley groats sausage - per 1kg,3.55,2019-12
3,LOWER SILESIA,NaN,PLN,2,dressed chickens - per 1kg,6.14,2019-2
4,WARMIA-MASURIA,NaN,PLN,2,Italian head cheese - per 1kg,5.63,2002-3

In [7]:
# Dictionary for renaming columns
rename_dict = {
    'Name': 'province', 
    'Types of goods': 'product_types', 
    'Measurement unit': 'currency', 
#     'id': 'id', 
    'Types of products': 'product_line', 
    'Value': 'value', 
    'Date': 'date'
}

# Variant 1: Using the rename method
data_renamed_method = df.rename(columns=rename_dict)
# df.rename(columns=rename_dict, inplace=True)

data_renamed_method.head()

,province,product_types,currency,id,product_line,value,date
0,SUBCARPATHIA,NaN,PLN,2,pork ham cooked - per 1kg,21.37,2013-3
1,ŁÓDŹ,NaN,PLN,4,bread - per 1kg,NaN,2018-2
2,KUYAVIA-POMERANIA,NaN,PLN,2,barley groats sausage - per 1kg,3.55,2019-12
3,LOWER SILESIA,NaN,PLN,2,dressed chickens - per 1kg,6.14,2019-2
4,WARMIA-MASURIA,NaN,PLN,2,Italian head cheese - per 1kg,5.63,2002-3

In [6]:
# Variant 2: Overwriting all column names using columns
df.columns = ['province', 'product_types', 'currency', 'id', 'product_line', 'value', 'date']

df.head()

,province,product_types,currency,id,product_line,value,date
0,SUBCARPATHIA,NaN,PLN,2,pork ham cooked - per 1kg,21.37,2013-3
1,ŁÓDŹ,NaN,PLN,4,bread - per 1kg,NaN,2018-2
2,KUYAVIA-POMERANIA,NaN,PLN,2,barley groats sausage - per 1kg,3.55,2019-12
3,LOWER SILESIA,NaN,PLN,2,dressed chickens - per 1kg,6.14,2019-2
4,WARMIA-MASURIA,NaN,PLN,2,Italian head cheese - per 1kg,5.63,2002-3